name: Repo Cleanup

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  cleanup-packages:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Delete old packages
        uses: actions/delete-package-versions@v5
        with:
          ignore-versions: "^(?!build-).*$"
          min-versions-to-keep: 1
          package-name: crystalpilot
          package-type: "container"
